<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Desenvolvedor
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <img src="../../assets/Desenvolvedor.jpg" alt="">
  <h3>Eliton Camargo de Oliveira</h3>

  <p>
    <ion-icon name="mail-outline"></ion-icon>
    <a href="mailto:camargoliveira@gmail.com">camargoliveira@gmail.com</a>
  </p>
  <p>
    <ion-icon name="call-outline"></ion-icon>
    <a href="tel:011999998888">0(11)9 9999-8888</a>
  </p>

</ion-content>
