ion-chip{
  background: #000000ba;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: solid 2px;
  padding: auto ;
}
ion-badge{
  font-weight: 300;
  font-size: 0.6rem;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
}
