<ion-header [translucent]="true">
  <ion-toolbar color="dark">

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>{{serieTv.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-card>
    <ion-card-header>
      <img *ngIf="serieTv.poster_path" src="https://image.tmdb.org/t/p/w500/{{serieTv.poster_path}}">
      <ion-icon *ngIf="!serieTv.poster_path" name="videocam-off"></ion-icon>
      <ion-card-subtitle>{{serieTv.name}}</ion-card-subtitle>
    </ion-card-header>

    <ion-item>
      <ion-icon name="rocket-outline"></ion-icon>
      <ion-icon name="remove-outline"></ion-icon>
      <ion-label class="ion-text-wrap">
        <p>{{serieTv.first_air_date | date: 'shortDate'}}</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="golf-outline"></ion-icon>
      <ion-icon name="remove-outline"></ion-icon>
      <ion-label class="ion-text-wrap">
        <ion-badge color="light" *ngFor="let origem of serieTv.origin_country">{{origem}} - {{paises[origem]}}</ion-badge>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="videocam-outline"></ion-icon>
      <ion-icon name="remove-outline"></ion-icon>
      <ion-label class="ion-text-wrap">
        <ion-badge color="light" *ngFor="let genero_id of serieTv.genre_ids">{{generos[genero_id]}}</ion-badge>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="thumbs-up-outline"></ion-icon>
      <ion-icon name="remove-outline"></ion-icon>
      <ion-label class="ion-text-wrap">
        <ion-chip outline="" [color]="serieTv.vote_average < 5 ?'danger':serieTv.vote_average < 7 ?'warning':'success'">
          <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">{{serieTv.vote_average*10}}<sup>%</sup></ion-label>
        </ion-chip>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap">
        <p>
          <ion-icon name="document-text-outline"></ion-icon> -
          Sinopse
        </p>
        <p *ngIf="serieTv.overview">{{serieTv.overview}}</p>
        <p *ngIf="!serieTv.overview">Não informada!</p>
      </ion-label>
    </ion-item>

  </ion-card>
</ion-content>
